<mat-dialog-content>
  <h2 [innerHtml]= "title" class="{{setArchangeColor(nomArchange)}}"></h2>
  <p [innerHtml]= "psaume"></p>
  <span class="pr_level">Prière : {{prayerNbr}}</span>
  <p class="prayer_content">{{priere}}</p>
  <div class="shower-togglers">
    <button mat-raised-button color="primary" (click)='initPrint()'>Télécharger</button>
    <button mat-raised-button (click)='closeDialog()'>Fermer</button>
  </div>
  <!--modal-->
  <div class="process_modal {{modal_status}}">
    <div class="modal_content">
      <div class="modal_icon_p">
        <p class="modal_icon"></p>
        <p class="modal_text">
          Conversion en cours..
        </p>
      </div>
    </div>
  </div>
  <!-- end modal-->
</mat-dialog-content>
