<div class="gnosis_main_container">
  <!--<router-outlet></router-outlet>-->

  <!--TOOL LOGO-->
  <div class="logo_div">
    <p>
      <img class="gnosis_logo_img" alt="Logo Gnosis" title='Gnosis' src="assets/images/gnosis-logo-original.jpg">
    </p>
    <p class="tool_description">
      L'outil qui vous permet de rechercher les occurrences d'un thème dans la Bible Essénienne.<br><br>
      <span class="how_trigger_btn" (click)="shohHowItWorksModal()">Important : voir la notice</span>
    </p><br>
</div>

  <!--SEARCH FORM-->
  <div class="engine_div">
    <mat-form-field class="search_input">
      <input #search_str class="search_field" matInput type="text" placeholder='thème, expression, thème 1 + thème 2 ou "chiffre"' (keyup)="setString(search_str.value)" (change)="setString(search_str.value)" (keyup.enter)='startSearch()'>
    </mat-form-field><br>
    <!--filters-->
    <div class="filters_div">
      <p class="cat-lev-1">
        <mat-slide-toggle color='primary' class="toogle main_toggle" checked (click)="addSearchFilter('main', 'psaumes')"><b>PSAUMES</b></mat-slide-toggle>
        <mat-slide-toggle color='primary' class="toogle main_toggle" checked (click)="addSearchFilter('main', 'prayers')"><b>PRIÈRES</b></mat-slide-toggle>
      </p>
      <mat-divider class="divider"></mat-divider>
      <p class="cat-lev-2">
        <br>
        <label for="michael" class="gnosis-label michael"><input type="checkbox" name="michael" value="" class="gnosis-checkbox-michael" checked (click)="addSearchFilter('second', 'michael')">MICHAËL</label>
        <label for="gabriel" class="gnosis-label gabriel"><input type="checkbox" name="gabriel" value="" class="gnosis-checkbox-gabriel" checked (click)="addSearchFilter('second', 'gabriel')">GABRIEL</label>
        <label for="raphael" class="gnosis-label raphael"><input type="checkbox" name="raphael" value="" class="gnosis-checkbox-raphael" checked (click)="addSearchFilter('second', 'raphael')">RAPHAËL</label>
        <label for="ouriel" class="gnosis-label ouriel"><input type="checkbox" name="ouriel" value="" class="gnosis-checkbox-ouriel" checked (click)="addSearchFilter('second', 'ouriel')">OURIEL</label>
      </p>
    </div>
    <!--search button-->
    <p class="button-p">
      <button mat-raised-button color="primary" (click)='startSearch()'>Rechercher</button>
      <br/>
    </p>
  </div>

  <!--results wrapper-->
  <mat-card class="{{results_status}}">
    <mat-card-content>
      <!--psaumes and prayers -->
      <mat-card class="{{psaumes_prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str}} "</p>
            </div>
          </div>
          <!--end-->
          <mat-card *ngFor = "let pp of prayersAndPsaumes">
            <mat-card-content>
              <!--psaume + prayer-->
              <mat-card class="clickable" (click)='showPsaumeAndPrayer(pp.nom_psaume, pp.contenu_psaume, pp.contenu_priere, pp.numero_psaume, pp.numero_priere, pp.nom_archange)'>
                <p class="all_occ_span">Total : {{pp.occ_total}}</p>
                <mat-card-content >
                  <p class="ps_level"><span class="{{setArchangeColor(pp.nom_archange)}}">Psaume {{pp.numero_psaume}} de l'Archange {{pp.nom_archange}}</span> - {{pp.nom_psaume}} <sup class="occ_badge">{{pp.occ_psaume}} occurrence.s</sup></p>
                  <p class="pr_level {{setContentStatut(pp.occ_priere)}}">Prière {{pp.numero_priere}} <sup class="occ_badge">{{pp.occ_priere}} occurrence.s</sup></p>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container1" class="{{more_psaumes_and_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMorePsaumesAndPrayers('psaumes_and_prayers')" class="{{more_psaumes_and_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

      <!--psaumes -->
      <mat-card class="{{psaumes_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str}} "</p>
            </div>
          </div>
          <!--end-->
          <!--single item : psaume -->
          <mat-card *ngFor = "let ps of psaumes">
            <mat-card-content>
              <!--psaume-->
              <mat-card class="clickable" (click)='showPsaume(ps.nom_psaume, ps.contenu_psaume, ps.numero_psaume, ps.nom_archange)'>
                <p class="ps_level"><span class="{{setArchangeColor(ps.nom_archange)}}">Psaume {{ps.numero_psaume}} de l'Archange {{ps.nom_archange}}</span> - {{ps.nom_psaume}} <sup class="occ_badge">{{ps.occ_psaume}} occurrence.s</sup></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container2" class="{{more_psaumes}}">
            <button mat-raised-button color="primary" (click)="loadMorePsaumesAndPrayers('psaumes')" class="{{more_psaumes}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

      <!-- prayers -->
      <mat-card class="{{prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str}} "</p>
            </div>
          </div>
          <!--end-->
          <!--single item : prayer-->
          <mat-card *ngFor = "let pr of prayers">
            <mat-card-content>
              <!--prayer-->
              <mat-card class="prayer_content clickable" (click)='showPrayer(pr.contenu_priere, pr.numero_priere, pr.nom_archange, pr.numero_psaume, pr.nom_psaume)'>
                <p class="pr_level"><span class="{{setArchangeColor(pr.nom_archange)}}">Prière {{pr.numero_priere}} du Psaume {{pr.numero_psaume}} de l'Archange {{pr.nom_archange}}</span> - {{pr.nom_psaume}} <sup class="occ_badge">{{pr.occ_priere}} occurrence.s</sup></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container3" class="{{more_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMorePsaumesAndPrayers('prayers')" class="{{more_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
  <!-- end results-->

  <!--combine results wrapper-->
  <mat-card class="{{combine_results_status}}">
    <mat-card-content>
      <!-- combine psaumes and prayers -->
      <mat-card class="{{combine_psaumes_prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str_1}}+{{str_2}} "</p>
              <!--<p>Psaumes <sup class="occ_badge">{{psaumesCombineTotal}} occurrence.s</sup></p>
              <p>Prières <sup class="occ_badge">{{prayersCombineTotal}} occurrence.s</sup></p>-->
            </div>
          </div>
          <!--end-->
          <mat-card *ngFor = "let cpp of combinePrayersAndPsaumes">
            <mat-card-content>
              <!--psaume + prayer-->
              <mat-card class="clickable" (click)='showPsaumeAndPrayer(cpp.nom_psaume, cpp.contenu_psaume, cpp.contenu_priere, cpp.numero_psaume, cpp.numero_priere, cpp.nom_archange)'>
                <p class="all_occ_span">Total : {{cpp.occ_total}}</p>
                <p class="ps_level"><span class="{{setArchangeColor(cpp.nom_archange)}}">Psaume {{cpp.numero_psaume}} de l'Archange {{cpp.nom_archange}}</span> - {{cpp.nom_psaume}} - <span class="combine_search_occ_span">{{str_1}}<sup class="occ_badge">{{cpp.occ_psaume_str_1}} occurrence.s</sup> {{str_2}}<sup class="occ_badge">{{cpp.occ_psaume_str_2}} occurrence.s</sup></span></p>
                <p class="pr_level {{setContentStatutForCombine(cpp.occ_priere_str_1, cpp.occ_priere_str_2)}}">Prière {{cpp.numero_priere}} - <span class="combine_search_occ_span">{{str_1}}<sup class="occ_badge">{{cpp.occ_priere_str_1}} occurrence.s</sup> {{str_2}}<sup class="occ_badge">{{cpp.occ_priere_str_2}} occurrence.s</sup></span></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container4" class="{{more_combine_psaumes_and_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMoreCombinePsaumesAndPrayers('psaumes_and_prayers')" class="{{more_combine_psaumes_and_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>
      <!--end combine psaumes and prayers results -->

      <!--psaume-->
      <mat-card class="{{combine_psaumes_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str_1}}+{{str_2}} "</p>
            </div>
          </div>
          <!--end-->
          <!--single item : psaume -->
          <mat-card *ngFor = "let cps of combinePsaumes">
            <mat-card-content>
              <!--psaume-->
              <mat-card class="clickable" (click)='showPsaume(cps.nom_psaume, cps.contenu_psaume, cps.numero_psaume, cps.nom_archange)'>
                <p class="all_occ_span">Total : {{cps.occ_total}}</p>
                <p class="ps_level"><span class="{{setArchangeColor(cps.nom_archange)}}">Psaume {{cps.numero_psaume}} de l'Archange {{cps.nom_archange}}</span> - {{cps.nom_psaume}} - <span class="combine_search_occ_span">{{str_1}}<sup class="occ_badge">{{cps.occ_psaume_str_1}} occurrence.s</sup> {{str_2}}<sup class="occ_badge">{{cps.occ_psaume_str_2}} occurrence.s</sup></span></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container5" class="{{more_combine_psaumes}}">
            <button mat-raised-button color="primary" (click)="loadMoreCombinePsaumesAndPrayers('psaumes')" class="{{more_combine_psaumes}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>
      <!-- end combine psaumes results -->

      <!-- combine prayer results -->

      <mat-card class="{{combine_prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : " {{str_1}}+{{str_2}} "</p>
            </div>
          </div>
          <!--end-->
          <!--single item : prayer-->
          <mat-card *ngFor = "let cpr of combinePrayers">
            <mat-card-content>
              <!--prayer-->
              <mat-card class="prayer_content clickable" (click)='showPrayer(cpr.contenu_priere, cpr.numero_priere, cpr.nom_archange, cpr.numero_psaume, cpr.nom_psaume)'>
                <p class="all_occ_span">Total : {{cpr.occ_total}}</p>
                <p class="pr_level"><span class="{{setArchangeColor(cpr.nom_archange)}}">Prière {{cpr.numero_priere}} du Psaume {{cpr.numero_psaume}} de l'Archange {{cpr.nom_archange}}</span> - {{cpr.nom_psaume}} - <span class="combine_search_occ_span">{{str_1}}<sup class="occ_badge">{{cpr.occ_priere_str_1}} occurrence.s</sup> {{str_2}}<sup class="occ_badge">{{cpr.occ_priere_str_2}} occurrence.s</sup></span></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container6" class="{{more_combine_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMoreCombinePsaumesAndPrayers('prayers')" class="{{more_combine_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>
      <!--end combine prayer results-->

    </mat-card-content>
  </mat-card>
  <!--end combine results-->

  <!--digit results wrapper-->
  <mat-card class="{{digit_results_status}}">
    <mat-card-content>

      <!--psaumes and prayers -->
      <mat-card class="{{digit_psaumes_prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : {{str}}</p>
            </div>
          </div>
          <!--end-->
          <mat-card *ngFor = "let dpp of digitPrayersAndPsaumes">
            <mat-card-content>
              <!--psaume + prayer-->
              <mat-card class="clickable" (click)='showPsaumeAndPrayer(dpp.nom_psaume, dpp.contenu_psaume, dpp.contenu_priere, dpp.numero_psaume, dpp.numero_priere, dpp.nom_archange)'>
                <p class="all_occ_span">Total : {{dpp.occ_total}}</p>
                <mat-card-content >
                  <p class="ps_level"><span class="{{setArchangeColor(dpp.nom_archange)}}">Psaume {{dpp.numero_psaume}} de l'Archange {{dpp.nom_archange}}</span> - {{dpp.nom_psaume}} <sup class="occ_badge">{{dpp.occ_psaume}} occurrence.s</sup></p>
                  <p class="pr_level {{setContentStatut(dpp.occ_priere)}}">Prière {{dpp.numero_priere}} <sup class="occ_badge">{{dpp.occ_priere}} occurrence.s</sup></p>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>

          <!--to display more content-->
          <p id ="more_btn_container7" class="{{digit_more_psaumes_and_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMoreDigitPsaumesAndPrayers('psaumes_and_prayers')" class="{{digit_more_psaumes_and_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

      <!--psaumes -->
      <mat-card class="{{digit_psaumes_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : {{str}}</p>
            </div>
          </div>
          <!--end-->
          <!--single item : psaume -->
          <mat-card *ngFor = "let dps of diPsaumes">
            <mat-card-content>
              <!--psaume-->
              <mat-card class="clickable" (click)='showPsaume(dps.nom_psaume, dps.contenu_psaume, dps.numero_psaume, dps.nom_archange)'>
                <p class="ps_level"><span class="{{setArchangeColor(dps.nom_archange)}}">Psaume {{dps.numero_psaume}} de l'Archange {{dps.nom_archange}}</span> - {{dps.nom_psaume}} <sup class="occ_badge">{{dps.occ_psaume}} occurrence.s</sup></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container8" class="{{digit_more_psaumes}}">
            <button mat-raised-button color="primary" (click)="loadMoreDigitPsaumesAndPrayers('psaumes')" class="{{digit_more_psaumes}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

      <!-- prayers -->
      <mat-card class="{{digit_prayers_container}}">
        <mat-card-content>
          <!--toolbar-->
          <div>
            <div class="results_tool_bar">
              <p>Votre recherche : {{str}}</p>
            </div>
          </div>
          <!--end-->
          <!--single item : prayer-->
          <mat-card *ngFor = "let dpr of diPrayers">
            <mat-card-content>
              <!--prayer-->
              <mat-card class="prayer_content clickable" (click)='showPrayer(dpr.contenu_priere, dpr.numero_priere, dpr.nom_archange, dpr.numero_psaume, dpr.nom_psaume)'>
                <p class="pr_level"><span class="{{setArchangeColor(dpr.nom_archange)}}">Prière {{dpr.numero_priere}} du Psaume {{dpr.numero_psaume}} de l'Archange {{dpr.nom_archange}}</span> - {{dpr.nom_psaume}} <sup class="occ_badge">{{dpr.occ_priere}} occurrence.s</sup></p>
              </mat-card>
            </mat-card-content>
          </mat-card>
          <!--to display more content-->
          <p id ="more_btn_container9" class="{{digit_more_prayers}}">
            <button mat-raised-button color="primary" (click)="loadMoreDigitPsaumesAndPrayers('prayers')" class="{{digit_more_prayers}}">Afficher plus</button>
          </p>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>

  <!--modal and popup-->
  <div class="process_modal {{modal_status}}">
    <div class="modal_content">
      <div class="modal_icon_p">
        <p class="modal_icon"></p>
        <p class="modal_text">
          {{pocess_state}}
        </p>
      </div>
      <p class="abort_btn_container"><button type="button" name="button" class="btn_abort" (click)="abortSearch()">Interrompre</button></p>
    </div>
  </div>

  <!--scroll to top-->
  <span id="lok-up-arrow" title="Haut de page" (click)="moveToTop()">&#8593;</span>
  <span id="lok-down-arrow" title="Bas de page" (click)="moveToBottom()">&#8595;</span>

</div>
