.resized-dialog{
  height: 300px;
}
#lok-up-arrow{
  background-color: #011d73;
  color: white;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}
#lok-down-arrow{
  background-color: #011d73;
  color: white;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}
