/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon
{
  cursor: pointer!important;
}
.top_bar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  z-index: 1;
}
